.odd {
    width: 100px;
    height: 100px;
    border: 0px;
}

.even {
    width: 100px;
    height: 100px;
    background-color: #eeeed2;
    border: 0px;
}

.table-surface {
    background-color: #769656;
    border-spacing: 0px;
    padding: 2px;
}

.robot {
    text-align: center;
}